<div class="column flow gap-1">
  <button class="flow-btn" type="button" pButton icon="pi pi-plus" (click)="toggleAddPopup()" label="Add product"></button>

  <div class="row wrap gap-1 space-between">
    <app-product *ngFor="let product of products" [product]="product" (edit)="toggleEditPopup($event)"
      (delete)="toggleDeletePopup($event)"></app-product>
  </div>
  <p-paginator [rows]="rows" [totalRecords]="totalRecords" [rowsPerPageOptions]="[5,10,20]"
    (onPageChange)="onPageChange($event)">
  </p-paginator>

  <!-- Edit -->
  <app-edit-popup [(display)]="displayEditPopup" header="Edit Product" [product]="selectedProduct"
    (confirm)="onConfirmEdit($event)">

  </app-edit-popup>



  <!-- Add -->
  <app-edit-popup [(display)]="displayAddPopup" header="Add Product" (confirm)="onConfirmAdd($event)">

  </app-edit-popup>
</div>